<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean class="com.wintig.bean.Student" id="student" scope="singleton" primary="true"/>

	<bean class="com.wintig.Autowired原理.AlibabaGroup" id="alibabaGroup">
		<property name="userWintig" ref="user"></property>
	</bean>
	<bean class="com.wintig.Autowired原理.User" id="user"/>

</beans>